.cheating
*.s
assembly
Token
Scanner
Grammar
Parser
Types
Analyzer
Optimizer
Compiler
ScannerTest
ParserTest
AnalyzerTest
OptimizerTest
bpl
test/asm/*
test/bin/*
test/out/*
test/log/*
bin/interfaces/*.hi
bin/objects/*.o
